p1/my_solution.txt
p1/p1-instruction-zh.docx
p1/stroopdata.csv
p1/a.bat
p1/p1-instruction-zh.pdf
p1/test.py
p1/test2.py
p1/venv
p2/learning_material
p2/.ipynb_checkpoints
p1/*.png
p2/titanic-analysis/.ipynb_checkpoints
p2/titanic-analysis/*.png
p2/titanic-analysis/*.tex
p2/titanic-analysis/*.csv
